//  For ecommerce dashboard top products badge
.product-badge {
	position: absolute;
	top: -42px;
	left: 17px;
	padding: 7px 14px !important;
}

.notify-no {
	position: absolute;
	top: 30px;
	right: 3px;
	line-height: 11px;
}