// *************************************************
// Custom Select Menu
// *************************************************
.custom-select {
    background: $custom-select-indicator right 0.8rem center no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-size: auto;
}