/*******************
 General Topbar
*******************/

.topbar {
    position: relative;
    z-index: 50;
    transition: $transitions;
    background: transparent;

    .navbar-collapse {
        padding: 0px 30px 0 0;
    }

    .top-navbar {
        padding: 0px;

        .navbar-header {
            line-height: $topbar-height;
            background: transparent;

            .navbar-brand {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0px;
                padding: $topbar-navbrand-padding;
                height: $topbar-height;

                .dark-logo {
                    display: none;
                }

                .logo-icon {
                    margin-right: 5px;
                }

                .line {
                    background: $white;
                    height: 2px;
                    margin-bottom: 4px;
                    display: block;
                    transition: 0.3s ease-in;

                    &.line-1,
                    &.line-3 {
                        width: 11px;
                        margin-left: 7px;
                    }

                    &.line-2 {
                        width: 18px;
                    }
                }

                &:hover {
                    .line {

                        &.line-1,
                        &.line-3 {
                            width: 18px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .navbar-nav>.nav-item>.nav-link {
            padding: 0;
            font-size: $topbar-navlink-font-size;
            line-height: $topbar-height;
        }

        .navbar-nav>.nav-item {
            transition: 0.2s ease-in;

        }
    }

    .user-dd,
    .mailbox {
        min-width: 280px;
    }

    .nav-toggler,
    .topbartoggler {
        color: $theme-light;
        padding: 0 15px;
    }

    // For Search bar in header
    .customize-input {
        position: relative;

        .form-control,
        ::placeholder {
            color: $navbar-dark-color;
        }

        .form-control {
            border-radius: 22px;
            padding: 0.5625rem 2.6rem 0.5625rem 1.55rem;
            color: $gray-600;
            line-height: 16px;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
        }

        .form-control-icon {
            position: absolute;
            top: 7px;
            right: 14px;
            height: 20px;
            width: 20px;
        }
    }
}

.search-box {
    .app-search {
        z-index: 110;
        width: 100%;
        top: -1px;
        box-shadow: $shadow;
        display: none;
        left: 0px;

        .form-control {
            padding: 23px 40px 20px 23px;
            @extend %square;
            transition: $transitions;
            height: 65px;

            &:focus {
                border-color: transparent;
            }
        }

        .srh-btn {
            position: absolute;
            top: 23px;
            cursor: pointer;
            right: 20px;
        }
    }
}


/*******************
Megamenu
******************/
.topbar {
    .mega-dropdown {
        position: static;

        .dropdown-menu {
            padding: 30px;
            @extend %square;
            width: 100%;
            max-height: 480px;
            overflow: auto;
        }
    }
}

/*******************
Designed dropdown
******************/
.topbar {
    .dropdown-menu {
        padding-top: 0px;
        border: 0px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

        .with-arrow {
            position: absolute;
            height: 10px;
            overflow: hidden;
            width: 40px;
            top: -10px;

            >span {
                @extend %rotate45;
                background-color: $gray-0;
                width: 15px;
                height: 15px;
                top: 3px;
                left: 15px;
                position: absolute;
                content: "";
                -moz-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }
        }

        &.dropdown-menu-right {
            .with-arrow {
                right: 0px;

                >span {
                    right: 20px;
                    left: auto;
                }
            }
        }
    }
}

// For Topbar Application & Elements Dropdowns
.topbar-dropdown-width {
    .dropdown-menu {
        min-width: 500px;
    }
}

/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
    .topbar .top-navbar {

        .navbar-collapse.show,
        .navbar-collapse.collapsing {
            display: block;
            width: 100%;
            border-top: 1px solid $border;
        }

        .navbar-nav {
            flex-direction: row;

            .dropdown {
                position: static;
            }
        }

        .navbar-nav>.nav-item>.nav-link {
            padding: 0 10px;
        }

        .navbar-header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .dropdown-menu {
            position: absolute;
            width: 100%;

            .with-arrow {
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .mailbox {
        .message-center {
            height: 145px !important;
        }
    }
}