//This is for the icons (Required file)
@import 'icons/font-awesome/css/fontawesome-all.css';
@import 'icons/themify-icons/themify-icons.css';
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";