// **************************************************
// Sales chart [Earning Statastics]
// **************************************************
.sales {
	height: 280px;
	.ct-series-a .ct-area {
		fill-opacity:0.2;
		fill: url(#gradient);
	}
	.ct-series-a .ct-line, .ct-series-a .ct-point{
		stroke: $cyan;
		stroke-width:2px;
	}
	.ct-series-a .ct-point{
		stroke-width: 6px;
	}
}

.stats {
	height: 280px;
	.ct-series-a .ct-area {
		fill-opacity:0.2;
		fill: url(#gradient);
	}
	.ct-series-a .ct-line, .ct-series-a .ct-point{
		stroke: $info;
		stroke-width: 3px;
	}
	.ct-series-a .ct-point{
		stroke-width: 3px;
	}
}
.c3-chart-arc path{
	stroke:transparent;
}
// **************************************************
// For Chartist Tooltips
// Tooltip for the chartist charts
// **************************************************

.chartist-tooltip {
	position: absolute;
	display: inline-block;
	opacity: 0;
	border-radius: 20px;
	padding: 5px 20px;
	background: $cyan;
	color: $gray-0;
	text-align: center;
	pointer-events: none;
	z-index: 1;
	font-weight: 500;
	font-size: 13px;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -5px;
		border: 5px solid transparent;
		border-top-color: $cyan;
	}
}

.chartist-tooltip.tooltip-show {
	opacity: 1;
}
.ct-label, .c3-chart-arcs-title{
	color:$gray-500;
	fill:$gray-500;
}
// **************************************************
// For the Sparkline Chart Tooltip
// **************************************************

.jqstooltip{
	box-sizing: content-box;
}

// **************************************************
// For Dashboard Total sales Chart
// ************************************************** 
#campaign-v2,
#campaign-v3 {
	.c3-chart-arc path {
	stroke-width: 4px;
	}
}

#visitbylocate {
	.jvectormap-zoomin, 
	.jvectormap-zoomout {
		display: none;
	}
} 

.chartist-tooltip {
	position: relative;
}

// Dashboard 3

.earnings {
	height: 400px;
	.ct-grid,
	.ct-label.ct-vertical.ct-start {
		display: none;
	}
	.ct-series-a .ct-area {
		fill-opacity:0.2;
		fill: url(#gradient);
	}
	.ct-series-a .ct-line, .ct-series-a .ct-point{
		stroke: $info;
		stroke-width:2px;
	}
	.ct-series-a .ct-point{
		stroke-width: 6px;
	}
}

// Knob
.circle-chart-widget ul li {
	padding: 0 19px
}

.circle-chart-widget{
	.circle-chart {
		position: relative;
		width: 182px;
		height: 182px;
		margin: auto;
		.c1 {
			position: absolute;
			left: -20px;
			top: 0;
		}
		.c2 {
			position: absolute;
			left: 12px;
			top: 30px;
		}
		.c3 {
			position: absolute;
			left: 43px;
			top: 60px;
		}
	}
	.chart-overlap {
		position: absolute;
		width: 100px;
		top: 99px;
		left: 40px;
	}
} 