.error-box {
    height: 100%;
    position: fixed;
    width: 100%;

    .error-body {
        padding-top: 5%;
    }

    .error-title {
        font-size: 210px;
        font-weight: 900;
        text-shadow: 4px 4px 0 #fff, 6px 6px 0 $dark;
        line-height: 210px;
    }
}